h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: $gutter_value * 2 $gutter_value;
}

h1, .h1 { font-size: $h1-font-size; }
h2, .h2 { font-size: $h2-font-size; }
h3, .h3 { font-size: $h3-font-size; }
h4, .h4 { font-size: $h4-font-size; }
h5, .h5 { font-size: $h5-font-size; }
h6, .h6 { font-size: $h6-font-size; }

p {
  font-size: 1.6rem;
  &.p-small {
    font-size: 1.2rem;
  }
  &.p-big {
    font-size: 1.8rem;
  }
}
