* {
  box-sizing: border-box;
}
html {
  font-size: $rem_default;
  @include responsive('lg') {
    font-size: $rem_default * 1.4;
  }
  @include responsive('xlg') {
    font-size: $rem_default * 1.8;
  }
  @include responsive('xxlg') {
    font-size: $rem_default * 2.6;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
