/* 
* flex mixin

if params are empty string get default value
* params {
* direction
* justify_content
* align_items
* flex_value
* wrap
*}
*/

@mixin flex($direction, $justify_content, $align_items, $flex_value, $wrap) {
  display: flex;
  @if ($direction != '') {
    flex-direction: $direction;
  }
  @if ($justify_content != '') {
    justify-content: $justify_content;
  }
  @if ($align_items != '') {
    align-items: $align_items;
  }
  @if ($flex_value != '') {
    flex: $flex_value;
  }
  @if ($wrap != '') {
    flex-wrap: $wrap;
  }
}
